// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_image{
	width:80px;
	height:70px;
}
.list_odd{
	background: #e0f8f8;
}
.list_even{
	background: #f8b0f8;
}